body {
    font-family: "Lato", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.8;
    font-weight: normal;
    background: #f8f9fd;
    color: gray;
}

.possessive {
    padding: 2em 0;
    width: 100% !important;
    margin: auto !important;
}

.wrap {
    width: 100%;
    overflow: hidden;
    background: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
}

.login-bg {
    height: 120px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../img/login-header.jpg);
}

.login-wrap {
    position: relative;
}

.login-wrap h3 {
    font-weight: 300;
    line-height: 1.5;
    font-family: "Lato", Arial, sans-serif;
    color: #000;
}

.social-media {
    position: relative;
    width: 100%;
}

.social-media .social-icon {
    display: block;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 1px solid rgba(0, 0, 0, 0.05);
    font-size: 16px;
    margin-right: 5px;
    border-radius: 50%;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    text-decoration: none;
    color: #3F51B5;
}

.social-media .social-icon span {
    color: #999999;
}

.social-media .social-icon:active,
.social-media .social-icon:hover,
.social-media .social-icon:focus {
    text-decoration: none !important;
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #3F51B5;
    background: #3F51B5;
}

.social-media .social-icon:hover span,
.social-media .social-icon:focus span {
    color: #fff;
}

.is-invalid ~ .eye-icon,
.was-validated .eye-icon {
    right: 30px;
}

.eye-icon {
    position: absolute;
    top: 50%;
    right: 15px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: rgba(0, 0, 0, 0.3);
}

.checkbox-wrap {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox-wrap input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox-wrap input:checked ~ .checkmark:after {
    display: block;
    content: "\f14a";
    font-family: "FontAwesome";
    color: rgba(0, 0, 0, 0.2);
}

.checkbox-primary {
    color: #3F51B5;
}

.checkbox-primary input:checked ~ .checkmark:after {
    color: #3F51B5;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
}

.checkmark:after {
    content: "\f0c8";
    font-family: "FontAwesome";
    position: absolute;
    color: rgba(0, 0, 0, 0.1);
    font-size: 20px;
    margin-top: -4px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

@media (prefers-reduced-motion: reduce) {
    .checkmark:after {
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
    }
}

.login-wrap a {
    transition: .3s all ease;
    text-decoration: none;
    color: #3F51B5;
    background: transparent;
}

.text-gray {
    color: gray !important;
}

.form-group {
    position: relative !important;
    margin-bottom: 28px !important;
}

.form-control {
    height: 48px;
    background: #fff;
    color: #000;
    font-size: 16px;
    border-radius: 5px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.form-control::-webkit-input-placeholder,
.form-control::-moz-placeholder {
    color: rgba(0, 0, 0, 0.2) !important;
}

.form-control:focus,
.form-control:active {
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #3F51B5;
}

.form-control:focus + .form-control-placeholder,
.form-control:valid + .form-control-placeholder {
    -webkit-transform: translate3d(0, -120%, 0);
    transform: translate3d(0, -120%, 0);
    padding: 7px 0 0 0;
    opacity: 1;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    color: #3F51B5;
    font-weight: 700;
}

.form-control-placeholder {
    position: absolute;
    top: 2px;
    padding: 7px 0 0 15px;
    -webkit-transition: all 400ms;
    -o-transition: all 400ms;
    transition: all 400ms;
    opacity: .6;
}

.was-validated .form-required :invalid,
.form-required .is-invalid {
    margin-bottom: 60px !important;
}

.form-required {
    position: relative;
    padding-right: 15px !important;
    margin-bottom: 28px !important;
}

.form-required:after {
    position: absolute;
    right: 1px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    content: "*";
    color: #dc3545;
}

.btn-primary {
    background: #3F51B5 !important;
    border: 1px solid #3F51B5 !important;
    color: #fff !important;
}