<!doctype html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="/public/css/common.css" rel="stylesheet">
</head>
<body class="h-100 d-flex flex-column">
<main class="screen-possessive">
    <div class="text-secondary px-4 py-5 text-center">
        <div class="py-5">
            <h1 class="display-5 pb-4 fw-bold text-dark">公司管理系统</h1>
            <div class="col-lg-6 mx-auto">
                <p class="fs-5 mb-4 pb-4">
                    近期将提供周/月报、任务管理、用户管理等功能。
                    请大家建言献策、多提需求。你的吐槽、抱怨、不便之处，可能就是很好的需求。
                    没有没用的错误，没有愚蠢的问题。
                </p>
                <p class="fs-5 mb-4 pb-4">
                    总有一些事情，需强调再三：公司资料，未经讨论，不要外传；
                    工作中输出高质量文档，汇聚认知，传递价值，让别人更容易。
                </p>
                <p class="fs-5 mb-4 pb-4">
                    头脑之间的连接本质上是知识的连接；系统之间的联系本质上是信息的联系；
                    沟通就是让连接发生。所有人共同参与，成为学习型团队。
                </p>
                <p class="fs-5 mb-4 pb-4">
                    好习惯和好方法更重要。Make The Change！
                </p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                    <button type="button" class="btn btn-outline-primary btn-lg px-4 me-sm-3 fw-bold">行动</button>
                    <button type="button" class="btn btn-outline-primary btn-lg px-4 me-sm-3 fw-bold">思考</button>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
<script src="/public/js/head.js"></script>
<script src="/public/js/header.js"></script>
<script src="/public/js/footer.js"></script>
<script type="text/javascript">
    header.currentTabPage("#home");
</script>
</body>
</html>